<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.SemiColon.Hmt.elengaz">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GOOGLE_MAPS_API_KEY" />

        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SelectActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.Login"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.Profile"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.Register"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.About"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".Activities.Notification2" />
        <activity
            android:name=".Activities.Notification1"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.AddService"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".Activities.Offers" />
        <activity android:name=".Activities.Home" />
        <activity
            android:name=".Activities.OfficeWork"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.Pay"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.Notification"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.TransAccount"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.OrderState"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.AddPlace"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.AddRate"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".Activities.OfficeLogin" />
        <activity android:name=".Activities.RegisterOffice" />
        <activity android:name=".Activities.Activity_Search_Results" />
        <activity android:name=".Activities.Office_Detail_Activity"
            ></activity>
    </application>

</manifest>